<section class="contact-us">
    <accountnavigation ng-show="user.Permissions.contains('ViewSelfAdmin') || user.Type == 'Customer'" />
    <div class="panel panel-no-panels">
        <div class="panel-heading">
            <h1 class="panel-title panel-primary">{{('Contact' | r) + ' ' + ('Us' | r) | xlat }}</h1>
        </div>
        <div class="panel-body" style="font-weight:normal">
            <p>
                If you have any questions about this store, the products, or about your order please email us at <a href="mailto:webstoreorders@cubikpromo.com">webstoreorders@cubikpromo.com</a> or call us directly at 781-559-4566.
            </p>
            <p>
                We look forward to serving you!
            </p>
            <p>
                CUBIK Promotions
            </p>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</section>